.weather-card{
    width: 300px;
    height: 400px;
    animation: fade-in;
    animation-duration: 1s;
    background-color: silver;
    text-align: center;
    padding: 20px;
}

.card-header{
    font-size: 2rem;

}

@keyframes fade-in{
    from {opacity: 0;}
    to{opacity: 1;}
}